@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@import "tailwindcss";
@source "./artists/templates";

@theme{
    --color-accent: #CAFF00; 
}